*{
    margin: 3px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcoral;
}

header {
    text-align: center;
}

.grader-container {
    width: 500px;
    height: auto;
    padding: 40px;
    background: antiquewhite;
    position: relative;
    border-radius: 15px;
}

.input-field{
    position: relative;
    height: 40px;
    width: 100%;
}

.input-field input[type="number"] {
    position: absolute;
    background: transparent;
    border-radius: 10px;
    box-shadow: none;
    font-size: 14px;
    width: 100%;
}